.search-bar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.search-bar__input {
    width: 100%;
    padding: 0.8rem 3rem 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.search-bar__input:focus {
    border-color: #5E548E;
}

.search-bar__icon {
    position: absolute;
    right: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}